site_name: gitStream Documentation
site_description: Automate the code review process with gitStream.
site_author: LinearB
copyright: Copyright &copy; 2023 LinearB, Inc.
repo_url: https://github.com/linear-b/gitstream
repo_name: linear-b/gitstream
edit_uri: "edit/main/docs/"

nav:
  - Overview: index.md
  - Guide:
    - GitHub Setup: github-installation.md
    - GitLab Setup: gitlab-installation.md
    - How gitStream works: how-it-works.md
    - Your First Automation: quick-start.md
    - How to Test Your Automations: dry-run-mode.md
  - Quickstart: examples.md
  - Automation Library: automations/automation-library.md
  - Integrations: integrations/README.md
  - Reference:
    - Configuration: cm-file.md
    - Execution: execution-model.md
    - Context variables: context-variables.md
    - Filter functions: filter-functions.md
    - Automation actions: automation-actions.md
  - Plugins: 
    - Overview: plugins.md
    - Filter Functions: filter-function-plugins.md
  - Playground: gitStream-playground.md
  - Troubleshooting: troubleshooting.md
  - FAQ: faq.md
  - Login: https://app.gitstream.cm/login 

theme:
  name: material
  logo: assets/gitstream-w.webp
  icon:
      repo: fontawesome/brands/github
  # When the user first visits your site, the media queries are evaluated in the order 
  # of their definition. The first media query that matches selects the default color palette.
  palette: 
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
      - header.autohide
      - content.code.copy
      - content.code.annotate
      - content.action.edit
extra_css:
  - stylesheets/extra.css
plugins:
  - search
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
  - redirects:
      redirect_maps:
        'github-org-level.md': 'github-installation.md'
        'github-required-check.md': 'github-installation.md'
        'cm-syntax.md': 'how-it-works.md'
        'automations/approve-swimm/README.md': 'automations/integrations/swimm/approve-swimm/README.md'
        'automations/label-missing-jira-info/README.md': 'automations/integrations/jira/label-missing-jira-info/README.md'
        'automations/approve-python-log-output/README.md': 'automations/languages/python/approve-python-log-output/README.md'
        'automations/approve-javascrpt-log-output/README.md': 'automations/languages/javascript/approve-javascript-log-output/README.md'
        'automations/approve-python-formatting-change/README.md': 'automations/languages/python/approve-python-formatting-change/README.md'
        'automations/approve-javascript-formatting-change/README.md': 'automations/languages/javascript/approve-javascript-formatting-change/README.md'
        'automations/languages/css/review-css-important/README.md': 'automations/languages/html/review-css-important/README.md'
markdown_extensions:
  - admonition
  - attr_list
  - markdown.extensions.extra
  - md_in_html
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true 
extra:
  analytics:
    provider: google
    property: !ENV ANALYTICS_TAG
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/linear-b/gitstream/
watch:
  - plugins
